{% extends 'base.html' %}
{% block title %}
    <title>รายชื่อนักศึกษา</title>
{% endblock %}
{% block content %}
<header id="portfolio">
  <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
      class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
      class="fa fa-bars"></i></span>
  <div class="w3-container">
    <h1><b> รายชื่อนักศึกษา</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">ค้นหา:</span>
      <ul><form method="get">
        {{ filter.form.as_p }} 
        <button type="submit">Search</button>
      </form></ul>
        <span class="w3-margin-right">เพิ่มข้อมูล:</span>
        <button class="w3-button w3-white" onclick="document.location='addstudent'"><i class="fa fa-plus w3-margin-right"></i>นักศึกษา</button>
        <button class="w3-button w3-white" onclick="document.location='import'"><i class="fa fa-plus w3-margin-right"></i>Import</button>
        <button class="w3-button w3-white" onclick="document.location='export'"><i class="fa fa-plus w3-margin-right"></i>Export</button>
    </div>
  </div>
</header>


  
{% for user in filter.qs %}

<div class="w3-third w3-container w3-margin-bottom">
  <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white"></p>
    <p><b>{{user.Prefix}} {{user.NAME}}</a> {{user.LNAME}}</b></p>
    <p>รหัสนักศึกษา: {{user.STUDENT_NO}}<br>ห้อง : {{user.train_room}}<br>ปีการศึกษา: {{user.train_year}} <br> เทอม:
      {{user.train_term}} <br>
      <a href="{{user.pk}}/edit">แก้ไขข้อมูล </a><br>
      <a href="{{user.pk}}/delete">ลบ</a>
    </p>
      
  </div>
</div>
{% endfor %}


{% endblock %}